<div class="container mt-4">
  <h2>Gestão de Tipos</h2>
  <mat-card class="p-3 mb-3">
    <form [formGroup]="form" (ngSubmit)="salvar()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome do Tipo</mat-label>
        <input matInput formControlName="nome" placeholder="Ex: Filme, Série">
      </mat-form-field>
      <div class="d-flex justify-content-end gap-2">
        <button *ngIf="editing" mat-button type="button" (click)="resetForm()" color="warn">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ editing ? 'Atualizar' : 'Salvar' }}</button>
      </div>
    </form>
  </mat-card>

  <table class="table table-hover" *ngIf="dados.length > 0">
    <thead><tr><th>ID</th><th>Nome</th><th class="text-end">Ações</th></tr></thead>
    <tbody>
    <tr *ngFor="let item of dados">
      <td>{{ item.id }}</td>
      <td>{{ item.nome }}</td>
      <td class="text-end">
        <button mat-icon-button color="primary" (click)="editar(item)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deletar(item.id!)"><mat-icon>delete</mat-icon></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
